.Reviewpage {
  margin-top: 100px;
  margin-left: 10px;
  .productToggleContainer {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 500px;
    z-index: 2;
    h4 {
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 12px;
    }

    .productToggle {
      display: flex;
      justify-content: center;
      position: relative;

      div {
        font-weight: 300;
        font-family: "Noto Sans";
        letter-spacing: 2px;
        font-size: 26px;
        margin: 1rem 0 1rem;
        padding-left: 10px;
        color: #97d3c7;
      }
    }

    .listContainer {
      margin-left: 50px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      position: absolute;
      opacity: 1;
      // display: block;
      text-align: left;

      // width: 800px;
      height: 220px;
      width: 200px;

      :first-child {
        background-color: #97d3c7;
      }

      div {
        width: 200px;
        background-color: white;
        font-size: 12px;
        padding: 12px 0px 0px 5px;
        border: 1px solid lightgray;
        height: 40px;

        &:hover {
          background-color: rgb(247, 244, 244);
        }
      }

      &.None {
        opacity: 0;
        height: 0px;
        width: 0px;
      }
    }
  }

  // .listContainerNone {
  //   transition: all 0.5s ease-in-out;
  //   opacity: 0;
  //   position: absolute;

  //   // display: block;
  //   text-align: left;
  //   padding-left: 530px;
  //   width: 0px;

  //   :first-child {
  //     background-color: #97d3c7;
  //   }

  //   div {
  //     background-color: white;
  //     font-size: 12px;
  //     padding: 12px 0px 0px 5px;
  //     border: 1px solid lightgray;
  //     height: 40px;
  //     word-break: keep-all;

  //     &:hover {
  //       background-color: rgb(247, 244, 244);
  //     }
  //   }
  // }
  // }
  .reviewAverage {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: unset;
    font-family: "Whitman";
    color: #656565;
    margin-top: 40px;

    .reviewAverageNum {
      color: #656565;
      font-size: 80px;
    }

    .reviewCountContainer {
      margin-top: 5px 0 0 48px;

      .reviewStars {
        display: flex;
        color: white;

        img {
          width: 155px;
          height: 35px;
          color: white;
          position: relative;
          z-index: 10;
        }
        .starFilled {
          transition: width 500ms ease-in-out;
          position: absolute;
          width: 0px;
          height: 35px;
          background-color: #97d3c7;
        }
      }
      .reviewCount {
        padding-top: 10px;
        color: #656565;
        font-size: 17px;
      }
    }
  }

  .chartAndImage {
    transition: all 2s;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .chartContainer {
      padding-right: 15px;
      padding-left: 15px;

      .starTable {
        .starRow {
          display: flex;
          padding: 10px 0;

          .star {
            padding-top: 5px;
            padding-right: 15px;
            font-size: 14px;
          }

          .starBar {
            margin-right: 10px;
            height: 24px;
            border: 1px solid #97d3c7;
            min-width: 200px;

            .starBarFilled {
              transition: width 500ms ease-in-out;
              width: 72%;
              background-color: #97d3c7;
              height: 23px;
            }
          }

          .count {
            font-size: 13px;
            padding-left: 5px 0 0 7px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }

  .quizLink {
    border-radius: 3px;
    margin: 5rem auto;
    background-color: #97d3c7;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans";
    width: 250px;
    height: 50px;
    div {
      font-weight: 300;
      letter-spacing: 2px;
      padding-top: 18px;
    }
  }

  .reviewDesc {
    width: 100%;
    height: 480px;
    background: linear-gradient(#f7bf95, #f8cfc2);
    display: flex;
    justify-content: center;

    img {
      margin-top: 20px;
      width: 230px;
      height: 400px;
    }
    .reviewDescription {
      width: 500px;
      margin-left: 250px;

      h2,
      p {
        word-spacing: 5px;
        line-height: 20px;
        margin: 50px 50px;
      }
    }
  }
  .reviewArea {
    width: 1100px;
    padding: 0 1rem;
    margin: 5rem auto;

    .filterReview {
      border-top: 1px solid lightgray;
      padding: 25px 0 22px;

      .filterTitle {
        padding-left: 70px;
      }

      .filterToggles {
        border-bottom: 1px solid lightgray;
        padding: 30px 0;
        display: flex;
        justify-content: center;

        .dropboxContainer {
          position: relative;
          display: flex;
          flex-direction: column;
          z-index: 999;

          .filterContainer {
            &:hover .dropdownContents {
              display: block;
            }

            .filter {
              border-radius: 4px;
              padding-top: 8px;
              margin-left: 30px;
              text-align: center;
              width: 220px;
              height: 35px;
              border: solid lightgray 1px;
              display: flex;
              justify-content: space-around;

              &:hover {
                border: solid black 1px;
              }

              div {
                font-size: 14px;
                color: grey;
              }
            }

            .dropdownContents {
              background-color: white;
              position: absolute;
              width: 220px;
              margin-left: 30px;
              display: block;
              border: 1px solid lightgrey;

              div {
                background-color: white;
                font-size: 13px;
                color: grey;
                height: 35px;
                padding: 8px 0 0 20px;
                margin-left: 0;

                :first-child {
                  font-weight: 700;
                }

                &:hover {
                  font-weight: 700;
                  background-color: rgb(237, 244, 248);
                }
              }
            }
          }

          .dropdownNone {
            display: none;
          }
        }
      }

      .reviewSum {
        padding: 20px 0 30px;
        display: flex;
        justify-content: space-between;
      }

      .review {
        .buyer {
          padding-top: 30px;
          display: flex;
          justify-content: space-between;

          .buyerInfo {
            :first-child {
              color: #61c8b3;
              font-size: 25px;
              font-weight: bold;
            }

            :last-child {
              font-size: 12px;
              padding-left: 10px;
              color: lightgrey;
            }
          }
        }

        .comment {
          padding-top: 35px;

          :first-child {
            font-size: 18px;
          }

          :last-child {
            padding-top: 10px;
            padding-bottom: 50px;
            border-bottom: 1px solid lightgray;
            font-size: 14px;
          }
        }
      }
      .pagination {
        display: flex;
        justify-content: center;
        padding-top: 70px;
        span {
          font-weight: 700;
          color: #97d3c7;
          padding: 0 10px;
        }
      }
    }
  }
}
